/* https://docs.mapbox.com/ styles */
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:  -1;
}

.marker {
  background-image: url("https://drive.google.com/uc?id=1cyGIO7BMfMGsmMovH0c-A2MQac1aq0qP");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 500px;
}

.mapboxgl-popup-content {
  text-align: left;
  line-height: 1;
  font-family: "Lexend Deca", sans-serif;
  font-size: 11px;
}

/* webpage styles */
body {
  font-family: "Lexend Deca", sans-serif;
}
h1 { color: navy; margin: 1%;  }
/* https://stackoverflow.com/a/689290/17467335 */
footer {
  position: absolute; bottom: 0; width: 100%; min-height: 4em; 
  font-size: small;  
  display: flex; align-items: center; justify-content: center;
}

/* popup styles */
.mapboxgl-popup-content h3 { color: rebeccapurple; }
.mapboxgl-popup-content p { padding: .2em; margin: 0em; }

/* “Lord Vader Hates Fluffy Animals” */
a:link, a:visited, a:hover, a:focus, a:active { text-decoration: none; }
a:link, a:visited { color: navy; }
a:hover { text-decoration: underline; }
a.no-focus:focus { outline: none; }
